In [1]:
# Create Heatmaps for Weather Parameters (6.5.2)
# Import the dependencies.
import pandas as pd
import gmaps
import requests as requests

# Import the API key.
from config import g_key

In [2]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Pauini,-7.7136,-66.9764,76.23,81,48,2.37,BR,2021-09-24 01:53:32
1,1,Caravelas,-17.7125,-39.2481,71.04,62,65,9.53,BR,2021-09-24 01:53:32
2,2,Ossora,59.2353,163.0719,53.15,57,19,1.99,RU,2021-09-24 01:53:33
3,3,Rikitea,-23.1203,-134.9692,74.12,78,100,23.24,PF,2021-09-24 01:53:33
4,4,Nisia Floresta,-6.0911,-35.2086,79.61,83,21,9.78,BR,2021-09-24 01:53:33

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Cloudiness

locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of Wind Speed

locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, 
                                 max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Pauini,-7.7136,-66.9764,76.23,81,48,2.37,BR,2021-09-24 01:53:32
1,1,Caravelas,-17.7125,-39.2481,71.04,62,65,9.53,BR,2021-09-24 01:53:32
3,3,Rikitea,-23.1203,-134.9692,74.12,78,100,23.24,PF,2021-09-24 01:53:33
4,4,Nisia Floresta,-6.0911,-35.2086,79.61,83,21,9.78,BR,2021-09-24 01:53:33
6,6,Touros,-5.1989,-35.4608,79.70,79,61,15.05,BR,2021-09-24 01:53:34
7,7,Muli,2.9167,73.5667,83.32,75,93,14.81,MV,2021-09-24 01:53:34
10,10,Dumas,35.8656,-101.9732,74.53,26,1,9.22,US,2021-09-24 01:53:35
11,11,Cayenne,4.9333,-52.3333,82.09,83,0,1.01,GF,2021-09-24 01:53:35
13,13,Albany,42.6001,-73.9662,74.62,88,100,13.20,US,2021-09-24 01:52:36
18,18,Puerto Escondido,15.8500,-97.0667,81.32,83,81,3.04,MX,2021-09-24 01:53:36

In [11]:
# (6.5.4) Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
0             Pauini      BR     76.23  -7.7136  -66.9764
1          Caravelas      BR     71.04 -17.7125  -39.2481
3            Rikitea      PF     74.12 -23.1203 -134.9692
4     Nisia Floresta      BR     79.61  -6.0911  -35.2086
6             Touros      BR     79.70  -5.1989  -35.4608
7               Muli      MV     83.32   2.9167   73.5667
10             Dumas      US     74.53  35.8656 -101.9732
11           Cayenne      GF     82.09   4.9333  -52.3333
13            Albany      US     74.62  42.6001  -73.9662
18  Puerto Escondido      MX     81.32  15.8500  -97.0667

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [16]:
hotel_df.head()

             City Country  Max Temp      Lat       Lng              Hotel Name
0          Pauini      BR     76.23  -7.7136  -66.9764         Casa do Kiwliks
1       Caravelas      BR     71.04 -17.7125  -39.2481  Pousada dos Navegantes
3         Rikitea      PF     74.12 -23.1203 -134.9692         People ThankYou
4  Nisia Floresta      BR     79.61  -6.0911  -35.2086       Rancho Crepusculo
6          Touros      BR     79.70  -5.1989  -35.4608         INN NEW HORIZON

In [21]:
# Add marker descriptions (6.5.4)
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))